.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul {
  list-style: none;
}
.iconBtn {
  background-color: transparent;
  border: none;
}
.hover:hover {
  cursor: pointer;
}

.pokeball-bg {
  position: absolute;
  top: -40px;
  right: -62px;
  z-index: -5;
  transform: scale(1.5);
  fill: lightgrey;
}
.title {
  font-size: clamp(30px, 10vw, 50px);
}
.pokemonList {
  display: flex;
  flex-wrap: wrap;
}
.pokemon {
  display: flex;
}
.pokeCard {
  height: 150px;
  border: 2px solid black;
}
.pokemonSprite {
  height: 100%;
  width: 100%;
  align-self: end;
  margin-left: auto;
  margin-right: 0;
  padding: 0.5rem;
}
.cardStats {
  overflow-x: visible;
}
.cardStats h1 {
  font-size: 1.5rem;
}
.cardStats h3 {
  font-size: 1rem;
}
.type {
  position: relative;
  border: 2px solid red;
  text-align: center;
  border-radius: 50px;
  filter: brightness(100%) !important;
}
/* .type::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, -1);
} */
