.App {
  text-align: center;
}
* {
  box-sizing: border-box;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
:root {
  --app-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul {
  list-style: none;
}
.iconBtn {
  background-color: transparent;
  border: none;
}
.hover:hover {
  cursor: pointer;
}

.pokeball-bg {
  position: absolute;
  top: -85px;
  right: -105px;
  z-index: -5;
  width: 300px;
  height: 300px;
  transform: scale(1.5);
  fill: lightgrey;
}

.title {
  font-weight: bold;
  font-size: clamp(30px, 10vw, 50px);
  margin: 0 auto;
}
.pokemonList {
  max-width: 100vw;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.pokemon {
  display: flex;
}
.pokeCard {
  padding: 0;
  position: relative;
  height: 150px;
  border-radius: 15px;
  transition: transform 0.2s ease-in;
  transform: scale(1);
}
.pokeCard:hover {
  cursor: pointer;
  z-index: 4;
  transition: transform 0.2s ease-in;
  transform: scale(1.1);
}
.pokeContainer {
  max-width: 1400px;
  overflow-y: auto;
}
.pokemonSprite {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  z-index: 2;
  width: 60%;
  height: fit-content;
  max-height: 120px;
  min-height: 100px;
}
.cardStats {
  overflow-x: visible;
}
.bold {
  font-weight: bold;
  z-index: 5;
  position: relative;
}
.cardStats h1 {
  font-size: clamp(10px, 1.25rem, 16px);
}
.cardStats h3 {
  font-size: 0.75rem;
}
.type {
  width: min-content;
  max-width: 100px;
  position: relative;
  text-align: center;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}
.listBall {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 0;
  width: 50%;
  height: fit-content;
  max-height: 120px;
  fill: rgba(255, 255, 255, 0.2);
}
.pokeNumber {
  margin-right: 0;
  margin-left: auto;
  height: 100%;
  font-size: 1.25rem;
}
.detailsBottom {
  min-height: 68%;
  height: fit-content;
}
.detailsNav {
  height: fit-content;
  max-width: 1000px;
}
.details {
  overflow: auto;
  height: var(--app-height);
  max-height: var(--app-height);
}
.flavor-text {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}
.detailsBall {
  width: 70%;
  max-width: 300px;
  position: absolute;
  top: 50px;

  margin: 0 auto;
  height: fit-content;

  fill: rgba(255, 255, 255, 0.2);
}
.details-bottom-wrapper {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.details-back-btn {
  color: white;
}
.details-image {
  position: absolute;
  height: 200px;
  top: -165px;
  z-index: 10;
  margin: 0 auto;
}
.details-type {
  height: fit-content;
  width: fit-content;
}
.details-type {
  font-size: 1rem;
}
.details-nav {
  height: fit-content;
  display: flex;
}
.details-item {
  min-height: 100%;
}
.details-item p {
  font-size: 0.75rem;
  color: #666666;
  margin: 0;
}
.middle-item {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.details-stats {
  justify-self: flex-end;
  position: relative;
  bottom: 0;
  margin-bottom: 1rem;
  max-height: 300px;
  height: 40%;
}
.details-stats h3 {
  height: fit-content;
}

.stat-item-name {
  max-width: 75px;
  padding-right: 1rem;
  text-align: right;
  margin: 0;
  width: 15%;
  border-right: 2px solid gray;
}
.stat-item-num {
  width: 10%;
  margin: 0;
  text-align: center;
}
.progress-wrapper {
  width: 75%;
  margin: 1rem 0 0 0;
  margin: 0;
  padding: 0.5rem;
}
